<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.cdnfonts.com/css/avatar" rel="stylesheet">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/login.css">
</head>

<body>

    <div class="main">
        <span class="text">Welcome to <span style="font-family: 'Avatar', sans-serif;">MeetMe</span></span>
        <span>
            <a href="auth/google">
            <div class="login-button">login with Google
            </div>
        </a>
        </span>
    </div>
</body>
</html>